# Data files grandes
data/flights.csv
data/processed/

# Model files grandes
models/*.pkl

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
